<!DOCTYPE html>

<html>
   <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/stylesheets/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--stylesheet PLATO-->
		<meta name="description" content="Clean responsive bootstrap website template">
		<meta name="author" content="">
		<!-- styles -->
		<link href="/static/stylesheets/Plato/assets/css/bootstrap.css" rel="stylesheet">
		<link href="/static/stylesheets/Plato/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/static/stylesheets/Plato/assets/css/docs.css" rel="stylesheet">
		<link href="/static/stylesheets/Plato/assets/css/prettyPhoto.css" rel="stylesheet">
		<link href="/static/stylesheets/Plato/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
		<link href="/static/stylesheets/Plato/assets/css/flexslider.css" rel="stylesheet">
		<link href="/static/stylesheets/Plato/assets/css/refineslide.css" rel="stylesheet">
		<link href="/static/stylesheets/Plato/assets/css/font-awesome.css" rel="stylesheet">
		<link href="/static/stylesheets/Plato/assets/css/animate.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">

		<link href="/static/stylesheets/Plato/assets/css/style.css" rel="stylesheet">
		<link href="/static/stylesheets/Plato/assets/color/default.css" rel="stylesheet">

		<!-- fav and touch icons -->
		<link rel="shortcut icon" href="assets/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
		<!--stylesheet PLATO-->
        <!-- The welcome struct (shown in the main.go code) is received within the HTML and we just need to use the . operator and retrieve the information we want -->
        <title>Welcome {{.Name}}</title>
   </head>
   <body>
    	<div>Welcome {{.Name}}, it is {{.Time}}</div>
   </body>







   <body>
  <header>
    <!-- Navbar
    ================================================== -->
    <div class="cbp-af-header">
      <div class=" cbp-af-inner">
        <div class="container">
          <div class="row">

            <div class="span4">
              <!-- logo -->
              <div class="logo">
                <h1><a href="index.html">SOPES 1</a></h1>
                <!-- <img src="assets/img/logo.png" alt="" /> -->
              </div>
              <!-- end logo -->
            </div>

            <div class="span8">
              <!-- top menu -->
              <div class="navbar">
                <div class="navbar-inner">
                  <nav>
                    <ul class="nav topnav">
                      	<li class="dropdown active">
                      	  	<form action="/login" id="loginForm">
                      	  		Usuario: <input type="text" name="user">
	                      		Contraseña: <input type="password" name="password">
	                      		&nbsp;&nbsp;<button class="btn btn-color" type="submit">Login</button>
                      		</form>
                      	</li>

                      	<script>
							// Attach a submit handler to the form
							$( "#loginForm" ).submit(function( event ) {
							 
							  // Stop form from submitting normally
							  event.preventDefault();
							 
							  // Get some values from elements on the page:
							  var $form = $( this ),
							    term = $form.find( "input[name='s']" ).val(),
							    url = $form.attr( "action" );
							 
							  // Send the data using post
							  var posting = $.post( url, { s: term } );
							 
							  // Put the results in a div
							  posting.done(function( data ) {
							    var content = $( data ).find( "#content" );
							    $( "#result" ).empty().append( content );
							  });
							});
							</script>
                    </ul>
                  </nav>
                </div>
              </div>
              <!-- end menu -->
            </div>

          </div>
        </div>
      </div>
    </div>
  </header>
  <section id="intro">

    <div class="container">
      <div class="row">
        <div class="span6">
          <h2><strong>Sistema de <span class="highlight primary">Monitoreo</span></strong></h2>
          <p class="lead">
            Sistema de monitoreo de los recursos de una VM Ubuntu 18.0 LTS
          </p>
          <ul class="list list-ok strong bigger">
            <li>Google Cloud Platform</li>
            <li>Compute Engine</li>
            <li>Golang</li>
          </ul>

        </div>
        <div class="span6">
      </div>
    </div>

  </section>
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="features">
            <div class="icon">
              <i class="icon-bg-light icon-circled icon-linux icon-5x active"></i>
            </div>
            <div class="features_content">
              <h3>CPU Monitoring</h3>
              <p class="left">
                El monitor de CPU muestra la información del consumo de CPU del servidor, visualizando porcentaje de CPU utilizado y gráfica de utilización de CPU en tiempo real. 
              </p>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="features">
            <div class="icon">
              <i class="icon-bg-dark icon-circled icon-rocket icon-5x"></i>
            </div>
            <div class="features_content">
              <h3>RAM Monitoring</h3>
              <p class="left">
              	El monitor de RAM muestra la información del consumo de RAM del servidor,
              	visualizando total de memoria RAM del servidor (en MB), total de memoria RAM consumida (en MB) y porcentaje de consumo de RAM.
              </p>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="features">
            <div class="icon">
              <i class="icon-bg-dark icon-circled icon-tasks icon-5x"></i>
            </div>
            <div class="features_content">
              <h3>Process Monitoring</h3>
              <p class="left">
                El monitor de procesos muestra todos los procesos que están siendo ejecutados en el servidor, así como un resumen general de los procesos. 
              </p>
            </div>
          </div>
        </div>

      </div>
	</section>
  <!-- Footer
 ================================================== -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="widget">
            <!-- logo -->
            <div class="footerlogo">
              <h6><a href="index.html">Plato</a></h6>
              <!-- <img src="assets/img/logo.png" alt="" /> -->
            </div>
            <!-- end logo -->
            <address>
				<strong>USAC</strong><br>
				Sistemas Operativos 1 "A"<br>
				Segundo Semestre 2019<br>
          </div>
        </div>
        <div class="span3">
          <div class="widget">
            <h5>SISTEMA DE MONITOREO</h5>
            <div class="flickr_badge">
            	<img src="/static/stylesheets/ubuntu.svg">
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="subfooter">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>
              &copy; Plato - All right reserved
            </p>
          </div>
          <div class="span6">
            <div class="pull-right">
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Plato
                -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="/static/stylesheets/Plato/assets/js/jquery.js"></script>
  <script src="/static/stylesheets/Plato/assets/js/modernizr.js"></script>
  <script src="/static/stylesheets/Plato/assets/js/jquery.easing.1.3.js"></script>
  <script src="/static/stylesheets/Plato/assets/js/google-code-prettify/prettify.js"></script>
  <script src="/static/stylesheets/Plato/assets/js/bootstrap.js"></script>
  <script src="/static/stylesheets/Plato/assets/js/jquery.prettyPhoto.js"></script>
  <script src="/static/stylesheets/Plato/assets/js/portfolio/jquery.quicksand.js"></script>
  <script src="/static/stylesheets/Plato/assets/js/portfolio/setting.js"></script>
  <script src="/static/stylesheets/Plato/assets/js/hover/jquery-hover-effect.js"></script>
  <script src="/static/stylesheets/Plato/assets/js/jquery.flexslider.js"></script>
  <script src="/static/stylesheets/Plato/assets/js/classie.js"></script>
  <script src="/static/stylesheets/Plato/assets/js/cbpAnimatedHeader.min.js"></script>
  <script src="/static/stylesheets/Plato/assets/js/jquery.refineslide.js"></script>
  <script src="/static/stylesheets/Plato/assets/js/jquery.ui.totop.js"></script>

  <!-- Template Custom Javascript File -->
  <script src="/static/stylesheets/Plato/assets/js/custom.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</body>

</html>